"*":
  core:
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  editor:
    fontFamily: "Fira Mono"
  "exception-reporting":
    userId: "7e7ee946-8230-4b99-9048-b9a1d0c069c2"
  welcome:
    showOnStartup: false
